*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
body{
    /* background-color: rgba(201, 151, 14, 0.185); */
    background-color: rgba(201, 164, 14, 0.185);
    padding: 6px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    gap: 2px;
    /* align-items: self-start; */
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    color:blueviolet;
}
label{
    font-weight: 900;
    font-size: 45px;
    font-style: bold;
    text-decoration: underline;
    display: block;
    margin: 20px;
    
}
input{
    margin: 20px;
    padding: 6px 4px;
    border-radius: 4px;
    font-size: 25px;
    width: 400px;
    display: flex;
    align-items: center;
    text-align: center;
}
button{
    padding:4px;
    border-radius: 4px;
}
